.pna__noteedit_container {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 3fr 8fr 1fr;
    grid-template-rows: 30px 50px;
    font-size: small;
    grid-template-areas:
    'due-date title-importance edit-button' 
    'note-state note-content edit-button';
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(43, 43, 43);
}

.darkTheme .pna__noteedit_container {
    color: white;
    background-color: rgba(44, 44, 44, 0.527);
}

.titleField {
    height: 30px;
    border-radius: 100px;
    font-size: large;
    text-align: center;
    border-color: transparent;
    margin: 20px 0px 20px 0px;
}

.darkTheme .titleField {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.titleField:focus {
    transform: scale(1.025);
    transition: 0.3s ease;
    outline: none;
}

.descriptionField {
    font-family: Arial, Helvetica, sans-serif;
    height: ve;
    border-radius: 20px;
    text-align: left;
    padding: 5px 20px 5px 5px;
    border-color: transparent;
    margin: 20px 0px 20px 0px;
    transition: 0.3s ease;
    font-size: 16px;
    resize: vertical;
    padding: 20px;
}

.darkTheme .descriptionField {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.descriptionField:focus {
    transform: scale(1.025);
    transition: 0.3s ease;
    outline: none;
}

.darkTheme .dateField {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dateContainer {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.dateField {
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 100px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.darkTheme .dateField {
    color: white;
}

.dateTitle {
    font-size: large;
    margin-bottom: 5px;
}