
.button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #10B5B5;
    height: 40px;
    padding: 8px 20px;
    font-size: medium;
    border: none;
    font-weight: 700;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: teal;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.cancelButton {
    margin-left: 10px;
    margin-right: 10px;
    background-color:#f56942;
    padding: 8px 20px;
    font-size: medium;
    border: none;
    font-weight: 700;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
}

.deleteButton {
    width: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    font-size: small;
    justify-content: flex-end;
    color: #f56942;
    cursor: pointer;
    outline: none;
}

.deleteButton:hover {
    transform: scale(1.1);
}

.cancelButton:hover {
    background-color: #f54842;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.pna__deleteButtonContainer {
    display: flex;
    justify-content: flex-end;
}