
.pna__importances {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border-radius: 100px;
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    height: 40px;
}

.pna__interactive .pna__importances {
    background-color: rgba(131, 111, 111, 0.3);
    margin: 10px 10px 10px 10px;
}

.pna__singleImportanceContainer {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    justify-content: space-around;
    background-color: rgba(124, 104, 104, 0.493);
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin: 5px 5px 5px 5px;
    pointer-events: none;
}

.pna__interactive .pna__singleImportanceContainer{
    pointer-events: all;
}

.pna__singleimportance {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: x-large;
    vertical-align: middle;
    width: 10px;
    height: 50px;
    color: rgba(139, 139, 139, 0.774);
}

.pna__highlighted .pna__singleimportance {
    font-size: xx-large;
    color: rgba(235, 235, 235, 0.815);
}

.pna__singleimportance:hover {
    font-size: xx-large;
    color: rgba(235, 235, 235, 0.562);
}

.pna__interactive .pna__highlighted .pna__singleimportance {
    color: rgb(235, 235, 235);
}

.pna__singleImportanceContainer:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
    cursor: pointer;
}

.pna__importancepickercontainer {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-bottom: 10px;
}

.pna__importancetitle {
    
}