.title {
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.loginInputsContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    vertical-align: center;
}

.container {
    height: 100vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    vertical-align: center;

}

.darkTheme .loginInputsContainer > .loginField {
    color: white;
    background-color: rgb(43, 43, 43);
}

.loginInputsContainer > .loginField:focus {
    transform: scale(1.05);
    transition: 0.3s ease;
    outline: none;

}

.loginInputsContainer > .loginField {
    height: 25px;
    margin-top: 0px;
    border-radius: 100px;
    text-align: center;
    border-color: transparent;
    margin-bottom: 5px;
}

.loginInputsContainer > .loginField::placeholder {
    text-align: center;
}
