.pna__segmentedpicker {
    margin-left: 20px;
    display: flex;
    height: 15px;
    width: 50%;
    font-size: small;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 8px 20px;
    border: none;
    font-weight: 300;
    color: white;
    border-radius: 100px;
}

.darkTheme .pna__segmentedpicker {
    background-color: rgb(66, 66, 66);
}

.pna__segmentedpickeritem {
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 100px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.pna__selectedPicker .pna__segmentedpickeritem {
    background-color: rgb(83, 83, 83);
    transition: 0.3s ease;
}

.darkTheme .pna__selectedPicker .pna__segmentedpickeritem {
    background-color: rgb(102, 102, 102);
}