.pna__notelistitem {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    grid-template-rows: 60px 30px 50px;
    font-size: small;
    grid-template-areas:
    'importance-section importance-section importance-section'
    'due-date title edit-button' 
    'note-state note-content edit-button';
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.darkTheme .pna__notelistitem {
    color: white;
    background-color: rgba(44, 44, 44, 0.527);
}

.pna__noteDone .pna__notelistitem {
    background-color: rgba(255, 255, 255, 0.158);
    color: rgba(0, 0, 0, 0.219);
}

.darkTheme .pna__notelistitem {
    color: white;
    background-color: rgba(48, 48, 48, 0.87);
}

.darkTheme .pna__noteDone  .pna__notelistitem {
    color: rgba(255, 255, 255, 0.281);
    background-color: rgba(48, 48, 48, 0.253);
}

.pna__noteEditButton {
    grid-area: edit-button;
    display: flex;
    width: 35px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    border-radius: 20px;
    background-color: rgba(37, 37, 133, 0.356);
    align-items: center;
    padding: 8px 20px;
    font-weight: 600;
    appearance: none;
    color: white;
    border-width: 0;
    width: 50px;
    cursor: pointer;
    outline: none;
}

.darkTheme .pna__noteEditButton {
    background-color: rgba(74, 74, 250, 0.945);

}

.pna__noteEditButton:active:enabled {
    background-color: black;
    opacity: 0.5;
}

.pna__noteEditButton:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.pna__note-duedate {
    grid-area: due-date;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-size: smaller;
    font-weight: 400;
}

.pna__note-title {
    grid-area: title;
    font-size: small;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.pna__note-state_container {
    grid-area: note-state;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: small;
    font-weight: 400;
    padding-right: 10px;
}


.pna__note-finished-text {
    padding-left: 5px;
    align-items: center;
}

.pna__note-content {
    margin-right: 20px;
    flex: 1;
    grid-area: note-content;
    font-size: 12pt;
    height: 60px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pna__importanceSection {
    display: flex;
    height: 80px;
    justify-content: start;
    grid-area: importance-section;
    margin-left: -10px;
}

.pna__noteDone .pna__importanceSection {
    opacity: 0.3;
}

.pna__allNotesDoneMessage {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: xx-large;
    opacity: 0.75;
}

.pna__noteDeleteButton {
    grid-area: edit-button;
    display: flex;
    width: 35px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color : coral;
    align-items: center;
    padding: 8px 20px;
    font-weight: 600;
    color: white;
    border-width: 0;
    width: 50px;
    cursor: pointer;
    outline: none;
}

.pna__noteDeleteButton:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}
