.background-image {
    position: fixed;
    left: 0;
    right: 0;
    top: -40px;
    bottom: -40px;
    width: 100%;
    display: block;
    background: url('../../images/wallpaper_light.jpg');
    background-size: cover;
    opacity: 0.35;
    filter: blur(7px);
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.darkTheme .background-image {
    background: url('../../images/wallpaper_dark.jpg');
    background-size: cover;
    opacity: 0.75;
}
  
.pna__container {
    left: 0;
    right: 0;
    position: fixed;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto;
    grid-template-areas:
    'top-button-bar' 
    'list-section';
    z-index: 0;
}
  
.pna__topbuttonsbar {
    display: flex;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    grid-area: 'top-button-bar';
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.589);
}

.darkTheme .pna__topbuttonsbar {
    background-color: rgba(0, 0, 0, 0.589);
}

.pna__filtersection {
    padding-top: 10px;
    display: flex;
    grid-area: list-section;
    justify-content: space-between;
    width: 100%;
    z-index: 20;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
}

.darkTheme .pna__filtersection {
    background-color: rgba(0, 0, 0, 0.438);
}

.pna__noteslist {
    padding-top: 60px;
    padding-bottom: 20px;
    grid-area: list-section;
    width: 100%;
    overflow: auto;
    overflow-y: auto;
    z-index: 10;
}

.errorMessage {
    color: coral;
    font-size: small;
    padding: 5px 5px 5px 5px;
}
