.pna__custom-select {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.darkTheme .pna__custom-select {
    color: rgb(182, 182, 182);
    border-color: rgb(182, 182, 182);
    transition: 0.2s ease-in-out;
}

.pna__isToggled .pna__custom-select {
    border-color: rgb(110, 110, 110);
    color: rgb(182, 182, 182);
    background-color: black;
}